<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484036722971-0vmdh1u5bi6kmmiku9t5grfqa90kfqkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484036722971-0vmdh1u5bi6kmmiku9t5grfqa90kfqkq</string>
	<key>API_KEY</key>
	<string>AIzaSyDin5ug5zFtz7X2n7e6j6bPo6L4WuFxzrk</string>
	<key>GCM_SENDER_ID</key>
	<string>484036722971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meshacknkosi.dial</string>
	<key>PROJECT_ID</key>
	<string>dial-fsh</string>
	<key>STORAGE_BUCKET</key>
	<string>dial-fsh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484036722971:ios:3bc0e5eff68721d6e8d3be</string>
</dict>
</plist>